@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Light.woff');
  src: url('../fonts/Geologica/Geologica-Light.woff') format('woff'); 
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Regular.woff');
  src: url('../fonts/Geologica/Geologica-Regular.woff') format('woff'); 
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Medium.woff');
  src: url('../fonts/Geologica/Geologica-Medium.woff') format('woff'); 
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('../fonts/Geologica/Geologica-Bold.woff');
  src: url('../fonts/Geologica/Geologica-Bold.woff') format('woff'); 
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}