mixin consultantBlock()
  section.consult
    .consult__inner.container
      .consult__box
        h2.consult__title У Вас еще есть вопросы?
        p.consult__text Получите консультацию, планировки и актуальные цены. Специалист подберет варианты и объяснит условия покупки простым языком.
        form.consult__form(action="#")
          label.consult__field
            span.consult__label Телефон
            input.consult__input(type="tel" placeholder="+7 (___) ___-__-__")
          +button({ text: 'получить консультацию', theme: 'green', className: 'consult__button' })
