mixin consultantBlock()
  +callbackForm({ className: 'consult', img: 'img/complex-plan.png' })
    h2.callback-form__title У Вас еще есть вопросы?
    p.callback-form__text Заполните простую форму и мы перезвоним в ближайщее время
