mixin generalInfoSection(stats)
  section.general-info#about
    .general-info__inner.container
      h2.general-info__title Общая информация о ЖК «Репин-парк»
      .general-info__layout
        .general-info__content
          p Жилой комплекс по ул.Репина, 3/1 от строительной компании «Нефтестройиндустрии-Юг» расположен в Прикубанском округе города Краснодара, в микрорайоне Репина. Класс жилья - комфорт. Купить квартиру в жилом комплексе по ул.Репина, 3/1 можно с привлечением ипотечного кредитования, рассрочки платежа, материнского сертификата.
          p Жилье здесь относится к комфорт-классу – это говорит о качестве и том, что забота о вас и ваших малышах – наш первоочередной приоритет. Все, чтобы вы каждый день чувствовали заботу и тепло вашего нового дома.
          p.general-info__accent Подходит для инвестирования и сохранения капитала.
        dl.general-info__stats
          each item in stats
            .general-info__row
              dt.general-info__name= item.name
              dd.general-info__value= item.value
