mixin infrastructureSection(items)
  section.infrastructure#infrastructure
    .infrastructure__inner.container
      .section-head
        h2.section-head__title Инфраструктура
      .infrastructure__slider-wrap
        +sliderNav('infrastructure__nav')
        .swiper.infrastructure__slider.js-infrastructure-slider
          .swiper-wrapper
            each item in items
              .swiper-slide
                article.infrastructure-card
                  +picture(item.img, item.title, 'infrastructure-card__picture')
                  .infrastructure-card__body
                    h3.infrastructure-card__title= item.title
                    p.infrastructure-card__text= item.text
