mixin modal({})
  .new-modal(id='modal-form')
    .new-modal__overlay
      .new-modal__block.form-modal
        .close-modal.js-closeModal
          svg(width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M6.58301 6.14443L19.3109 18.8723" stroke="currentcolor" stroke-width="3" stroke-linecap="round")
            path(d="M18.8721 6.14443L6.14415 18.8723" stroke="currentcolor" stroke-width="3" stroke-linecap="round")
        .new-modal__down
          .new-modal__content
            
            
