mixin mortgageSection(items)
  section.mortgage#mortgage
    .mortgage__inner.container
      h2.mortgage__title Ипотека
      .mortgage__layout
        .mortgage__cards
          each item in items
            article.mortgage-card
              +picture(item.img, item.title, 'mortgage-card__picture')
        .mortgage__content
          p.mortgage__text Жилой комплекс по ул.Репина, 3/1 от строительной компании «Нефтестройиндустрии-Юг» расположен в Прикубанском округе города Краснодара, в микрорайоне Авиагородок. Класс жилья - комфорт.
          p.mortgage__text Купить квартиру в жилом комплексе по ул.Репина, 3/1 можно с привлечением ипотечного кредитования, рассрочки платежа, материнского сертификата. Жилой комплекс по ул.Репина, 3/1 от строительной компании расположен в Прикубанском округе города Краснодара.
          +button({ text: 'получить консультацию', theme: 'green', href: '#contacts', className: 'mortgage__button' })
