mixin mortgageCalcSection()
  +callbackForm({ className: 'mortgage-calc', img: 'img/mortgage-calc-bg.png' })
    h2.callback-form__title Рассчитать ипотеку
    p.callback-form__text Заполните простую форму и мы перезвоним в ближайщее время
