mixin purchaseFormSection()
  +callbackForm({ className: 'purchase-form', img: 'img/purchase-form-bg.png' })
    h2.callback-form__title Хотите квартиру?
    p.callback-form__text Заполните простую форму и мы перезвоним в ближайщее время
