mixin reviewsSection(items)
  section.reviews#reviews
    .reviews__inner.container
      h2.reviews__title Отзывы о НСИ-ЮГ
      .reviews__slider-wrap
        .reviews__nav
          button.reviews__nav-button.reviews__nav-button--prev(type="button" aria-label="Предыдущий отзыв")
            img(src="img/svg/reviews-arrow-prev.svg" alt="")
          button.reviews__nav-button.reviews__nav-button--next(type="button" aria-label="Следующий отзыв")
            img(src="img/svg/reviews-arrow-next.svg" alt="")
        .swiper.reviews__slider.js-reviews-slider
          .swiper-wrapper
            each item in items
              .swiper-slide
                article.review-card
                  img.review-card__quote-icon(src="img/svg/reviews-quote.svg" alt="")
                  h3.review-card__name= item.name
                  p.review-card__text= item.text
