mixin reviewsSection(items)
  section.reviews#reviews
    .reviews__inner.container
      .section-head
        h2.section-head__title Отзывы о НСИ-ЮГ
      .reviews__slider-wrap
        +sliderNav('reviews__nav')
        .swiper.reviews__slider.js-reviews-slider
          .swiper-wrapper
            each item in items
              .swiper-slide
                article.review-card
                  +picture(item.img, item.name, 'review-card__picture')
                  .review-card__content
                    p.review-card__quote= item.text
                    h3.review-card__name= item.name
