mixin sliderNav(className)
  .slider-nav(class=className)
    button.slider-nav__button.slider-nav__button--prev(type="button" aria-label="Предыдущий слайд")
    button.slider-nav__button.slider-nav__button--next(type="button" aria-label="Следующий слайд")
